In [2]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 1.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     -------------------------------------- 283.7/283.7 kB 8.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pymongo

In [ ]:
# CONNECTING WITH MongoDB

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "<CONNECTION STRING>"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

### Listing the database names.

In [17]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'test',
 'admin',
 'local']

In [11]:
# Creating a new database

db = client['ineuron']

In [12]:
# Creating a new collection inside the database ineuron

collection = db['test_collection']

### Listing all collection names inside the database

In [30]:
db.list_collection_names()

[]

In [31]:
# Inserting a Document to the collection created

collection.insert_one(
    {   'Serial No': '9998',
        'GRE Score': '337',
        'TOEFL Score': '118',
        'University Rating': '4',
        'SOP': '4.5',
        'LOR': '4.5',
        'CGPA': '9.65',
        'Research': '1',
        'Chance of Admit': '0.92'
    }
)

In [32]:
db.list_collection_names()

['test_collection']

In [34]:
# ObjectID of the inserted Document

collection.insert_one(
    {   'Serial No': '9998',
        'GRE Score': '337',
        'TOEFL Score': '118',
        'University Rating': '4',
        'SOP': '4.5',
        'LOR': '4.5',
        'CGPA': '9.65',
        'Research': '1',
        'Chance of Admit': '0.92'
    }
).inserted_id

ObjectId('64629501376999061da6c368')

### To list all the documents inside the collection:

In [42]:
collection.find()

In [43]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64629443376999061da6c366'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('646294f8376999061da6c367'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629501376999061da6c368'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [44]:
# In the above result, please note, that even in though the records are duplicated, NOTE that the ObjectID foreach documents are unique

In [45]:
# Inserting many documents at once:

l = [{   'Serial No': '9948',
        'GRE Score': '327',
        'TOEFL Score': '100',
        'University Rating': '4',
        'SOP': '3.5',
        'LOR': '4.5',
        'CGPA': '9.00',
        'Research': '1',
        'Chance of Admit': '0.83'
    },
    {   'Serial No': '9298',
        'GRE Score': '300',
        'TOEFL Score': '128',
        'University Rating': '3',
        'SOP': '4',
        'LOR': '4.5',
        'CGPA': '5.65',
        'Research': '1',
        'Chance of Admit': '0.75'
    },
    {   'Serial No': '9999',
        'GRE Score': '349',
        'TOEFL Score': '141',
        'University Rating': '4',
        'SOP': '4.9',
        'LOR': '4.7',
        'CGPA': '9.95',
        'Research': '1',
        'Chance of Admit': '0.95'
    }]

In [46]:
collection.insert_many(l)

In [47]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64629443376999061da6c366'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('646294f8376999061da6c367'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629501376999061da6c368'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629858376999061da6c369'), 'Serial No': '9948', 'GRE Score': '327', 'TOEFL Score': '100', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.00', 'Research': '1', 'Chance of Admit': '0.83'}
{'_id': ObjectId('64629858376999061da6c36a'), 'Serial No': '9298', 'GRE Score': '300', 'TOEFL Score': '128', 'University Rating': '3', 'SOP': '4', 'LOR': '4.5', 'CGPA': '5.65', 'Research': '1', 'Chance of Admit': '0.75'}
{'_id': ObjectId('64629858376999061da6c36b'), 'Serial No': '9999', 'GRE Score': '349', 'TOEFL Score': '141', 'University Rating': '4', 'SOP': '4.9', 'LOR': '4.7', 'CGPA': '9.95', 'Research': '1', 'Chance of Admit': '0.95'}

In [52]:
# To list the 1st document through indexing:

collection.find()[4]

{'_id': ObjectId('64629858376999061da6c36a'),
 'Serial No': '9298',
 'GRE Score': '300',
 'TOEFL Score': '128',
 'University Rating': '3',
 'SOP': '4',
 'LOR': '4.5',
 'CGPA': '5.65',
 'Research': '1',
 'Chance of Admit': '0.75'}

In [56]:
# Applying limit display of documents:

for i in collection.find().limit(2):
    print(i)

{'_id': ObjectId('64629443376999061da6c366'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('646294f8376999061da6c367'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [58]:
# Adding many more documents into the collection

l = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  
  {'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  
  {'Serial No': '9995',
 'GRE Score': '340',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  
  {'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  
  {'Serial No': '9993',
 'GRE Score': '317',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}]

In [59]:
collection.insert_many(l)

In [64]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64629443376999061da6c366'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('646294f8376999061da6c367'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629501376999061da6c368'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629858376999061da6c369'), 'Serial No': '9948', 'GRE Score': '327', 'TOEFL Score': '100', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.00', 'Research': '1', 'Chance of Admit': '0.83'}
{'_id': ObjectId('64629858376999061da6c36a'), 'Serial No': '9298', 'GRE Score': '300', 'TOEFL Score': '128', 'University Rating': '3', 'SOP': '4', 'LOR': '4.5', 'CGPA': '5.65', 'Research': '1', 'Chance of Admit': '0.75'}
{'_id': ObjectId('64629858376999061da6c36b'), 'Serial No': '9999', 'GRE Score': '349', 'TOEFL Score': '141', 'University Rating': '4', 'SOP': '4.9', 'LOR': '4.7', 'CGPA': '9.95', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('64629a66376999061da6c36c'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36d'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36e'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36f'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c370'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [68]:
# Querying only particular fields from the colelction 

collection.find({},{'GRE Score','University Rating'})

In [67]:
for i in collection.find({},{'GRE Score','University Rating'}):
    print(i)

{'_id': ObjectId('64629443376999061da6c366'), 'GRE Score': '337', 'University Rating': '4'}
{'_id': ObjectId('646294f8376999061da6c367'), 'GRE Score': '337', 'University Rating': '4'}
{'_id': ObjectId('64629501376999061da6c368'), 'GRE Score': '337', 'University Rating': '4'}
{'_id': ObjectId('64629858376999061da6c369'), 'GRE Score': '327', 'University Rating': '4'}
{'_id': ObjectId('64629858376999061da6c36a'), 'GRE Score': '300', 'University Rating': '3'}
{'_id': ObjectId('64629858376999061da6c36b'), 'GRE Score': '349', 'University Rating': '4'}
{'_id': ObjectId('64629a66376999061da6c36c'), 'GRE Score': '337', 'University Rating': '4'}
{'_id': ObjectId('64629a66376999061da6c36d'), 'GRE Score': '336', 'University Rating': '4'}
{'_id': ObjectId('64629a66376999061da6c36e'), 'GRE Score': '340', 'University Rating': '4'}
{'_id': ObjectId('64629a66376999061da6c36f'), 'GRE Score': '334', 'University Rating': '4'}
{'_id': ObjectId('64629a66376999061da6c370'), 'GRE Score': '317', 'University Rating': '4'}

In [73]:
# To get a specific field with a specific value

collection.find({'TOEFL Score':'141'})

In [72]:
for i in collection.find({'TOEFL Score':'141'}):
    print(i)

{'_id': ObjectId('64629858376999061da6c36b'), 'Serial No': '9999', 'GRE Score': '349', 'TOEFL Score': '141', 'University Rating': '4', 'SOP': '4.9', 'LOR': '4.7', 'CGPA': '9.95', 'Research': '1', 'Chance of Admit': '0.95'}

In [3]:
# Filtered queries

# Query the documents similar to 
# SELECT * FROM TABLE WHERE gre_score>337
# Means the documents with gre_score > 337

In [17]:
my_query={'GRE Score':{'$gt':"337"}}

In [18]:
collection.find(my_query)

In [19]:
for i in collection.find(my_query):
    print(i)

{'_id': ObjectId('64629858376999061da6c36b'), 'Serial No': '9999', 'GRE Score': '349', 'TOEFL Score': '141', 'University Rating': '4', 'SOP': '4.9', 'LOR': '4.7', 'CGPA': '9.95', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('64629a66376999061da6c36e'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}

In [25]:
# SELECT * FROM TABLE WHERE gre_score < 337
# Means the documents with gre_score < 337

for i in collection.find({'GRE Score':{'$lt':"337"}}):
    print(i)

{'_id': ObjectId('64629858376999061da6c369'), 'Serial No': '9948', 'GRE Score': '327', 'TOEFL Score': '100', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.00', 'Research': '1', 'Chance of Admit': '0.83'}
{'_id': ObjectId('64629858376999061da6c36a'), 'Serial No': '9298', 'GRE Score': '300', 'TOEFL Score': '128', 'University Rating': '3', 'SOP': '4', 'LOR': '4.5', 'CGPA': '5.65', 'Research': '1', 'Chance of Admit': '0.75'}
{'_id': ObjectId('64629a66376999061da6c36d'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36f'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c370'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [24]:
# Sorting the result with respecting to a particular field.
# Ascending Order

for i in collection.find().sort('Serial No',1).limit(5):
    print(i)

# sort('adad',-1) for DESCENDING order

{'_id': ObjectId('64629858376999061da6c36a'), 'Serial No': '9298', 'GRE Score': '300', 'TOEFL Score': '128', 'University Rating': '3', 'SOP': '4', 'LOR': '4.5', 'CGPA': '5.65', 'Research': '1', 'Chance of Admit': '0.75'}
{'_id': ObjectId('64629858376999061da6c369'), 'Serial No': '9948', 'GRE Score': '327', 'TOEFL Score': '100', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.00', 'Research': '1', 'Chance of Admit': '0.83'}
{'_id': ObjectId('64629a66376999061da6c370'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36f'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36e'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}

### DELETE a document

In [26]:
collection.delete_one({'Serial No': '9998'})

In [28]:
for i in collection.find():
    print(i)

{'_id': ObjectId('646294f8376999061da6c367'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629501376999061da6c368'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629858376999061da6c369'), 'Serial No': '9948', 'GRE Score': '327', 'TOEFL Score': '100', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.00', 'Research': '1', 'Chance of Admit': '0.83'}
{'_id': ObjectId('64629858376999061da6c36a'), 'Serial No': '9298', 'GRE Score': '300', 'TOEFL Score': '128', 'University Rating': '3', 'SOP': '4', 'LOR': '4.5', 'CGPA': '5.65', 'Research': '1', 'Chance of Admit': '0.75'}
{'_id': ObjectId('64629858376999061da6c36b'), 'Serial No': '9999', 'GRE Score': '349', 'TOEFL Score': '141', 'University Rating': '4', 'SOP': '4.9', 'LOR': '4.7', 'CGPA': '9.95', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('64629a66376999061da6c36c'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36d'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36e'), 'Serial No': '9995', 'GRE Score': '340', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c36f'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('64629a66376999061da6c370'), 'Serial No': '9993', 'GRE Score': '317', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [29]:
collection.delete_one({'Serial No': '9998'}).deleted_count

1

### Count of Documents

In [37]:
collection.count_documents({})

9

### Updating a Document

In [62]:
old_record_value = {"TOEFL Score":'120'}
new_record_value = {'$set':{"TOEFL Score":'115'} }

In [63]:
collection.update_one(old_record_value,new_record_value)

In [64]:
collection.update_many(old_record_value,new_record_value).modified_count

4

### Importing a csv file from the local system as a dataframe

In [69]:
import pandas as pd

dataframe=pd.read_csv("Admission Data.csv")

dataframe.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65